body {
  background: black;
}

.jumbotron {
  background-image: url('stranger-pings.png');
  background-size: cover;
  background-position: center center;
  min-height: 80%;
  position: relative;
}

.absolutebuttons {
  bottom: 10%;
  position: absolute;
  right: 10%;
}
