body {
  background: #777;
  box-sizing: border-box;
}

.jumbotron {
  min-height: 80%;
  position: relative;
}

.absolutebuttons {
  bottom: -100;
  position: absolute;
  right: 10%;
}

.btn-stranger {
  color: lightgrey;
  background-color: #df3203;
}

.centeredform {
  text-align: center;
}

h2 {
  color: #df3203;
}

/*Background stuff.*/

.homebackground {
  background-image: url('stranger-pings.png');
  background-position: center center;
  background-size: cover;
  border-bottom: 3px solid #df3203;
}

.loginbackground {
  background-image: url('login-page.jpg');
  background-position: center center;
  background-size: cover;
  border-bottom: 3px solid #df3203;
}

.registerbackground {
  background-image: url('register-page.jpg');
  background-position: center center;
  background-size: cover;
  border-bottom: 3px solid #df3203;
}

.alleventsbackground {
  background-image: url('all-events.jpg');
  background-position: center center;
  background-size: cover;
  min-height: 32vh;
  border-bottom: 3px solid #df3203;
}

.myeventsbackground {
  background-image: url('my-events.jpg');
  background-position: center center;
  background-size: cover;
  min-height: 32vh;
  border-bottom: 3px solid #df3203;
}

.addvenuebackground {
  background-image: url('add-venue.jpg');
  background-position: center center;
  background-size: cover;
  min-height: 32vh;
  border-bottom: 3px solid #df3203;
}

.createeventbackground {
  background-image: url('create-event.jpg');
  background-position: center center;
  background-size: cover;
  min-height: 32vh;
  border-bottom: 3px solid #df3203;
}

.aneventbackground {
  background-image: url('an-event.jpg');
  background-position: center center;
  background-size: cover;
  min-height: 35vh;
  border-bottom: 3px solid #df3203;
}

/*Event Cards.*/

.eventcard {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(0,0,0,.5);
  height: 350px;
  margin: 10px;
  padding: 20px;
  overflow-y: scroll;
  position: relative;
  cursor: pointer;
}

.eventcard:hover {
  border: 1px solid red;
}

.eventcard h3,
.detailcard h3 {
  border-bottom: 1px solid red;
  padding-bottom: 5px;
  margin-top: 0;
  margin-bottom: 20px;
}

dd {
  margin-bottom: 20px;
}

.eventcard p, h3{
  color: black;
}

.eventcard button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.alert {
  color: #df3203;
  font-size: 3em;
}

/*detail card.*/

.detailcard {
  background-color: white;
  border: 2px solid red;
  margin: 15px 10%;
  padding: 20px;
}
