<h1>## eventDetail.thisEvent.fields.name ##</h1>

<div ng-repeat="event in thisEvent">
    <h2>## event.fields.name ##</h2>
    <p>## eventDetail.getVenueName(event.fields.venue) ##</p>
    <p>## event.fields.address ##</p>
    <p>Begins: ## event.fields.begin_date_time|dateFormat ##</p>
    <p>Ends: ## event.fields.end_date_time|dateFormat ##</p>
    <p>Tickets left: ## tix_left ##</p>
</div>

<div>
    <button ng-click="eventDetail.register()" class="btn btn-default" ng-show="!registered">Register for this event</button>
    <button ng-click="eventDetail.unregister()" class="btn btn-default" ng-show="registered">Unregister for this event</button>
</div>

<button ng-click="eventDetail.detailBack('all')">Go Back to All Events</button>
<button ng-click="eventDetail.detailBack('my')">Go Back to My Events</button>
<button ng-click="eventDetail.logOut()">Log Out and Go To Home</button>
