<h1>## allEvents.title ##</h1>

<div>
  <div ng-repeat="event in allEvents.events">
    <p><a href="#/events/##event.pk##">## event.fields.name ##</a></p>
    <p>## allEvents.getVenueName(event.fields.venue) ##</p>
    <p>## event.fields.address ##</p>
    <p>Begins: ## event.fields.begin_date_time|dateFormat ##</p>
    <p>Ends: ## event.fields.end_date_time|dateFormat ##</p>
    <p>## event.fields.tix.limit ##</p>
  </div>
</div>

<button ng-click="allEvents.goToEventDetail()">Go To Event Detail Page</button>
<button ng-click="allEvents.goToMyEvents()">Go To My Events</button>
<button ng-click="allEvents.goToHome()">Log Out and Go To Home</button>

