<h1>## myCtrl.title ##</h1>

<div ng-repeat="event in myEvents">
    <strong><a href="#/events/##event.pk##">## event.fields.name ##</a></strong>
    <p>## event.fields.begin_date_time|dateFormat ##</p>
    <p>## myCtrl.getVenueName(event.fields.venue) ##</p>
</div>

<a href="#/events" class="btn btn-default">Go To All Events</a>
<a href="#/myevents/create" class="btn btn-default">Create New Event</a>
<a href="#/myevents/create/" class="btn btn-default">Create New Event</a>
<a href="#/myevents/venue/" class="btn btn-default">Create New Venue</a>
<button class="btn btn-default" ng-click="myCtrl.logOut()">Log Out</button>
