<h1>## venue.title ##</h1>

<div class="container-fluid">
  <form ng-submit="venue.completeCreation()">
    <div class="form-group row">
      <label class="col-xs-2 col-form-label" for="name">Venue Name</label>
      <div class="col-xs-10">
        <input class="form-control" type="text" id="name" ng-model="create.name">
      </div>
    </div> 
    <input class="btn btn-success" type="submit" value="submit" /> 
  </form>
</div>
<button class="btn btn-warning" ng-click="venue.goToMyEvents()">Go Back To My Events</button>
<!-- hey Russell, can you put a log out button in here? -->
