<div class="jumbotron addvenuebackground">
</div>


  <form class="form-inline centeredform" ng-submit="venue.completeCreation()">
    <div class="form-group ">
      <input class="input-lg" type="text" id="name" ng-model="venue.name" placeholder="Venue Name">
    </div>
    <div class="form-group"> 
      <input class="btn btn-stranger btn-lg" type="submit" value="Submit" /> 
      <a class="btn btn-stranger btn-lg" href="#/myevents">Go Back To My Events</a>
      <button class="btn btn-stranger btn-lg" ng-click="venue.logOut()">Log Out and Go To Home</button>
    </div>
  </form>
</div>
