{% load staticfiles %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Stranger Pings Ticketing</title>
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}">


</head>
<body>

  <div ng-app="stranger_pings">
    <div ng-view>
    <!-- all views generated in partials. -->
    </div>
  </div>

<!-- Dependency Scripts -->
<!-- <script type="text/javascript" src="{% static 'lib/jquery/dist/jquery.js' %}"></script> -->
<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/moment/moment.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'lib/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script> -->

<!-- Our Scripts -->
<script src="{% static 'app/app.js' %}"></script>
<script src="{% static 'app/factories/all-event-factory.js' %}"></script>
<script src="{% static 'app/factories/venue-factory.js' %}"></script>
<script src="{% static 'app/date-filter.js' %}"></script>
<script src="{% static 'app/controllers/Create.js' %}"></script>
<script src="{% static 'app/controllers/Venue.js' %}"></script>
<script src="{% static 'app/controllers/EventRegister.js' %}"></script>
<script src="{% static 'app/controllers/Events.js' %}"></script>
<script src="{% static 'app/controllers/event-detail-ctrl.js' %}"></script>
<script src="{% static 'app/controllers/MyEvents.js' %}"></script>
</body>
</html>
