{% load staticfiles %}

<link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}">

<h1>Login</h1>

<form action="../login_user/" method="POST" accept-charset="UTF-8">
{% csrf_token %}
  <div>
    <label>Input Username</label>
    <input type="text" name="UserName" placeholder="UserName"/>
  </div>
  <div>
    <label>Input Password</label>
    <input type="password" name="Password" placeholder="Password" />
  </div>
  <div>
    <button type="submit" class="btn btn-default">Login</button>
  </div>
  <div>
    <a href="../register" class="btn btn-default">Register</a>
  </div>
</form>
