{% load staticfiles %}

<link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}">

<h1>Register Here</h1>

<form action="../registered_user/" method="POST" accept-charset="UTF-8">
  {% csrf_token %}
  <div>
    <label>Input Username</label>
    <input type="text" name="UserName" placeholder="UserName"/>
  </div>
  <div>
    <label>Input Password</label>
    <input type="password" name="Password" placeholder="Password" />
  </div>
  <div>
    <label>Input First Name</label>
    <input type="text" name="FirstName" placeholder="First Name" />
  </div>
  <div>
    <label>Input Last Name</label>
    <input type="text" name="LastName" placeholder="Last Name" />
  </div>
  <div>
    <button class="btn btn-default" type="submit">Register</button>
  </div>
</form>